
.username {
background-color: #c48484;
color: #fff;
padding: 4px;
border-radius: 4px;
font-size: 14px;
opacity: 0.9;
pointer-events: none;
white-space: nowrap;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: 0.3s;
}
.img{
    width: 500px;
    height: 300px;
    border-radius: 8px;
}
.card-img{
    width: 300px !important;
    height: 360px !important;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width:576px) {
    #img-gallery{
        display: block;
    }
    #img-gallery img{
        margin-bottom: 20px;
    }
}

